.projects-main {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 70px;
}

.projects-main h2 {
    font-size: 40px;
    color: var(--blackPrincipal);
}

.projects-main__project {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)) ;
    gap: 30px;
}