.header-main {
    position: fixed;
    top:0;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    /* max-width: 900px; */
    height: 52px;
    display: flex;
    gap: 15px;
    animation: position-two;
    animation-timeline: scroll();
}

@keyframes position-two {
   to {
    margin-top: -20px;
    opacity: 50%;
    height: 32px;
   } 
}

.header-main__linkedin {
    height: 52px;
    width: 285px;
    background-color: var(--greenPrincipal);
    display: flex;
    align-items: flex-end; 
    justify-content: space-between;
    border: none;
    transition: all ease 0.2s;
}

.header-main__linkedin:hover {
    height: 60px;
    border: none;
}

.header-main__linkedin--icon {
    margin: 5px;
}


.header-main__github {
    height: 52px;
    width: 285px;
    background-color: var(--blackPrincipal);
    display: flex;
    align-items: flex-end; 
    justify-content: space-between;
    border: none;
    transition: all ease 0.2s;
}

.header-main__github:hover {
    height: 60px;
    border: none;
}

.header-main__github--icon {
    margin: 5px;
}

.header-main__contact {
    height: 52px;
    width: 285px;
    background-color: black;
    display: flex;
    align-items: flex-end; 
    justify-content: space-between;
    border: none;
    transition: all ease 0.2s;
}

.header-main__contact:hover {
    height: 60px;
    border: none;
}

.header-main__contact p {
    font-size: 13;
    font-weight: bold;
    color: white;
    margin: 0 0 2px 5px;
}

@media (max-width: 900px) {
    body {
        margin: 0 10px 0 10px;
    }

    .header-main__linkedin {
        width: 150px;
    }

    .header-main__github {
        width: 150px;
    }

    .header-main__contact {
        width: 150px;
    }
  }