@import url('./styles/colors.css');

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: white;
    font-family: inter;
}

button {
    cursor: pointer;
}

@media (max-width: 480px) {
    body {
        margin: 0 5px 0 5px;
    }
}